div#about {
  line-height:1.5;
  h1 {
  color: white;
  }
  p {
    margin-top: 0;
  }

  div#content {
    color: #eeeeee;
  }

  div#aboutBody.container {
    float: none;
    margin: 0 auto 5vh auto;
    text-align: left;
  }
}